/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
/log
.DS_Store
figwheel_server.log
/data/simplified-wgs84.json
/data/unsimplified-wgs-84.json
/data/geojson
/data/2pc-simplified-wgs84.json.zip
/data/2pc-geojson
/data/2pc-simplified-wgs84.json
/data/5pc_jsontest.json

